
// Variáveis de cores

$cor-branco: white;
$cor-rosa: #b21e37;
$cor-cinza: #282727;
$cinza-escuro: #333;

// Mixins

@mixin bg-padrao {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo {
	width: 201px;
	height: 68px;
	float: left;
	padding-top: 1em;
}
/* Banner Principal */
section.banner {
	background: url('../images/bg-header.jpg');
	@include bg-padrao;
	width: 100%;
	height: 578px;
	text-align: center;
	color: $cor-branco;
	h1 {
		color: $cor-branco;
		font-size: 3em;
		padding-top: 2em;
		margin-top: 0;
	}
	p {
    	line-height: 1.2em;
	}
	.envia {
		padding: 3em 0em;
	}
	input {
		width: 25em;
		padding: 1.1em 2em 1em 2em;
		margin-right: -.3em;
		border: 0;

		&::placeholder {
			color: $cor-rosa;
			font-style: italic;
		}
	}
}
/* Botão de Scroll */
.scroll-down {
	background-color: $cor-branco;
	position: relative;
	top: 1em;
	left: 50%;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	display: block;
	z-index: 10;
	text-align: center;
	.fa {
		color: $cor-rosa;
		margin-top: .2em;
	}
}
/* Section Cinza */
section.cinza {
	background-color: $cor-cinza;
	padding: 4em 0em;
	margin-bottom: 4em;
	color: $cor-branco;
	h2 {
		color: $cor-branco;
	}
}
/* Botão */
.btn {
	color: $cor-branco;
	background-color: $cor-rosa;
	padding: .8em 2em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	&:hover {
		background-color: #8a162a;
		transition: .3s;
	}
}
.fa-icon {
	padding-right: .2em;
	vertical-align: sub;
}
/* Section Rosa */
section.rosa {
	background: url('../images/bg-institucional.jpg');
	@include bg-padrao;
	width: 100%;
	height: 434px;
	color: $cor-branco;
	h2 {
		color: $cor-branco;
	}
}
/* Footer */
footer {
	background: #000;
	color: $cor-branco;
	padding-bottom: 1.3em;
	
	h3 {
		font-weight: 400;
		text-transform: uppercase;
	}
	p {
		line-height: 1.2em;
		font-size: 0.9em;
	}
	.copyright {
		padding-top: 3em;
		padding-bottom: 1em;
	}
	.fa {
		color: $cor-rosa;
	}
	.midias .fa {
		float: left;
		margin: 0;
		color: $cor-branco;
		margin: 0;
		width: 1.5em;
		height: 1em;
		border: solid 1px $cor-branco;
		padding: 5px;
		text-align: center;

		&:hover {
			color: $cinza-escuro;
			border: solid 1px $cinza-escuro;
		}
	}
}
/* Mobile */
@media only screen and (max-width: 425px) {
	.logo {
		margin: auto;
    	float: none;
	}
	.menu {
		text-align: center;
    	padding-left: 0;
	}
	section.banner {
		width: auto;
		height: 510px;
		h1 {
			font-size: 2em;
			padding-top: .3em;
		}
		input {
			width: 15em;
			margin-right: 0;
	    	margin-bottom: 1em;
		}
	}
	section.rosa {
		width: auto;
		height: 370px;
	}
	.envia .btn {
		padding: .8em 5.7em;
	}
	footer p {
    font-size: 0.8em;
	}
	footer .copyright {
		padding-top: 1em;
	}
}
/* Tablet */
@media only screen and (max-width: 768px) {
	section.banner {
		width: auto;
		height: 510px;
		h1 {
			padding-top: .3em;
		}
	}
	section.rosa {
		width: auto;
		height: 370px;
	}
}